.gradle
**/build
.idea
*.iml

## vue
.DS_Store
node_modules
/dist
package-lock.json
!blog_vue_web/build

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
